---
layout: home
desc: 'A blog that lists books I have read and recommend to computer science graduates. '
---

<h1> About </h1>
<br>
<div>
This website lists books I have read and recommend to computer science graduates. Please feel free to submit pull requests at <a href="https://github.com/qiyanjun/books2read"> [its Github site]</a> when you find my typos.
</div>

<h3> Background </h3>
<br>
<div>
[ Written On 2020/01/01 ]: I grew up in a grass-root family and had no exposure to (good) books. Both of my parents did not receive education past middle school, and all four of my grandparents never received a formal education - two of them were illiterate. During my childhood and teenage years, libraries and serious books were unfamiliar to me. <BR>



Although I became a first-generation college graduate (from Tsinghua Univ. Beijing) and completed my Master and Ph.D. at Carnegie Mellon University, throughout my formal educational process I never grew a good habit of serious reading, and didn't until around fall 2014, a year after I began my faculty job. I discovered Audible and began listening to books. Over the past five years, I have finished around 65 good books and have recorded my notes on them here. <BR>

<br>

As I look back on my 2010s, I have realized that the best part of my life so far has been these books (apart from my family and tenure research team). These books have made (and still make) me happy, thoughtful, feel "rich," and have helped me find peace inside.
</div>

<h2> Book Index (by date) </h2>

<!--<ul class="features">

{% assign sorted = site.posts  | sort: 'name' %}
{% for post in sorted %}

    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}   </a><span class="date">- {{ post.date | date: "%B %-d, %Y"  }}</span></li>
{% endfor %}
</ul>
<hr> -->


<table id="datatab3" summary="Table of readings" border="1">
<tr>
 <h3><b>
  <th>No.</th>
  <th>Date-Read</th>
  <th>Title and Information</th>
  <th>Tags</th>
  </b>
  </h3>
</tr>

{% assign counter = 1 %}
{% assign sorted = site.posts  | sort: 'date' | reverse %}
{% for post in sorted %}

<tr>
<td>{{ counter }}</td>
<td><span class="date"> {{ post.date | date: "%Y, %-b, %-d "  }}</span></td>
<td><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} </a></td>
<td>
	{% for t in post.tags %}
  	<a class="button2" href="{{ site.baseurl }}/tag/#{{t | downcase | replace:" ","-" }}">{{ t | downcase }}</a>
	{% endfor %}
</td>
</tr>

{% assign counter=counter | plus:1 %}
{% endfor %}

</table>  

<div class="center">
<a href="{{ site.baseurl }}/tag/" title="View Posts by Tag">View Posts organized by Tags</a>
</div>
